---
import date from '../lib/date'
import sdk from '@radio4000/sdk'
import Tracks from '../components/Tracks.astro'
import Layout from '../layouts/Layout.astro'
const {slug} = Astro.params

// Find channel by slug, if no channel, look in Firebase.
const {data: channel, error} = await sdk.findChannelBySlug(slug)
let oldChannel
if (error) {
	const res = await sdk.findFirebaseChannelBySlug(slug)
	if (res)  oldChannel = Object.values(res)[0]
}
if (!channel && !oldChannel) {
	return Astro.redirect('404')
}
---

<Layout title="CMS">
	{oldChannel && <p>You've landed on an old channel.</p>}

	{channel && 
		<h1>{channel.name} <small>@{channel.slug}</small></h1>
		<nav>
			<a href={`/${channel.slug}/edit`}>Edit</a>
			<a href={`/${channel.slug}/delete`}>Delete</a>
		</nav>
		<p>
			Created {date(channel.created_at)}<br/>
			Updated {date(channel.created_at)}
		</p>
		<Tracks slug={slug} />
		<!-- <r4-channel slug={slug}></r4-channel> -->
	}

</Layout>
