---
export function getStaticPaths() {
	return []
}
import Layout from '../layouts/Layout.astro'
const {slug} = Astro.params
import sdk from '@radio4000/sdk'
const {data: channel} = await sdk.findChannelBySlug(slug)
---

<Layout title="CMS">
	<h1>/{slug}</h1>
	<r4-channel slug={slug}></r4-channel>

	<nav>
		<a href={`/${channel.slug}/edit`}>Edit</a>
		<a href={`/${channel.slug}/delete`}>Delete</a>
	</nav>
</Layout>
