---
import Layout from '../layouts/Layout.astro'
import {readChannels} from '@radio4000/sdk'
const {data} = await readChannels(500)
---
<Layout title="R4">
	<p>Hello you've landed on R4, the latest version of Radio4000. It's under development and here you can help try it out.</p>
	<p>Sign up for a new account, create one or more radios and start adding tracks!</p>
	<h3>Explore radio channels</h3>
	<ul>
		{
			data.map((channel) => (
				<li>
					<a href={`/${channel.slug}`}>
						{channel.name} <small>@{channel.slug}</small>
					</a>
				</li>
			))
		}
	</ul>
</Layout>

<style>
	small {
		opacity: 0.5;
	}
</style>

