---
import sdk from '@radio4000/sdk'

export interface Props {
	slug: string
}

const {slug} = Astro.props

const {data, error} = await sdk.supabase
	.from('channel_track')
	.select(
		'channel_id!inner(slug), track_id(id, created_at, updated_at, title, url, description, tags, mentions)'
	)
	.eq('channel_id.slug', slug)

const tracks = data.map((t) => t.track_id)
---

<h2>{data.length} Tracks</h2>
<ul>
	{
		tracks.map((track) => (
			<li>
				{track.title}<br>
				<span class="faded">{track.description}</span>
				<details>
					<summary>Edit</summary>
					<r4-track-update
						id={track.id}
						url={track.url}
						title={track.title}
						description={track.description}
					/>
					<p>Tags: {track.tags}</p>
					<p>Mentions: {track.mentions}</p>
				</details>
			</li>
		))
	}
</ul>

<style>
	h3 {
		font-size: 1rem;
	}
	ul {
		list-style: none;
		padding: 0;
		display: flex;
		flex-flow: column;
		gap: 1em;
	}
	li {
	}
</style>
