---
import sdk from '@radio4000/sdk'

export interface Props {
	slug: string
}

const {slug} = Astro.props

const {data, error} = await sdk.supabase
	.from('channel_track')
	.select(
		'channel_id!inner(slug), track_id(id, created_at, updated_at, title, url, description)'
	)
	.eq('channel_id.slug', slug)

const tracks = data.map((t) => t.track_id)
---

<h2>{data.length} Tracks</h2>
<ul>
	{
		tracks.map((track) => (
			<li>
				<h3>{track.title}</h3>
				<details>
					<summary>Edit</summary>
					<r4-track-update
						id={track.id}
						url={track.url}
						title={track.title}
						description={track.description}
					/>
				</details>
			</li>
		))
	}
</ul>

<style>
	h3 {
		font-size: 1rem;
	}
	li {
	}
</style>
